/* @font-face {
    font-family: 'ubuntu';
    src: url('../fonts/UbuntuCondensed-Regular.ttf')
  } */
  * {
    font-family: poppins;
  }
  body{
    background: #ddd;
  }
  .profile-menu{
    background: #fff;
    box-shadow: 0px 0px 1px;
    padding: 10px 0px;
  }
  .profile-menu ul li a{
    color: #333;
    text-transform: uppercase;
    font-size:14px;
    
    
  }
  .user-profile{
    width: 550px;
    margin: 50px auto;
  }
  .user-profile img{
    width: 270px;
    height: 270px;
    margin: 0px auto;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    object-fit: cover;
  }
  .user-item {
    text-align: center;
  }
  .user-item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .upload{
    width: 70px;
    cursor: pointer;
  }
  #load{
    display: block;
    max-width: 200px;
  }